
/* Google Font: Public Sans */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkBlue: #2d314d;
  --limeGreen: #31d35c;
  --brightCyan: #2bb7da;
  --grayishBlue: #9698a6;
  --lightGrayishBlue: #f3f4f6;
  --veryLightGray: #fafafa;
}

@layer base {

  * {
    @apply font-['Public_Sans']
  }

  body {
    @apply overflow-x-hidden
  }

  button {
    @apply bg-gradient-to-r from-[#31d35c] to-[#2bb7da]
    text-white px-7 py-3 rounded-full
  }
}

.menu {
  @apply flex flex-col
}

/* .home-bg {
  background-image: url('./assets/bg-intro-desktop.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-position: top -200px right -600px;
  background-size: cover;
} */
.right::before {
  content: '';
  background-image: url('./assets/bg-intro-desktop.svg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: -30px;
  right: 0px;
  z-index: -1;
}
